VITE_APPWRITE_URL = "https://nyc.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID = "68e9d6fe00120149ef6c"
VITE_APPWRITE_DATABASE_ID = "68e9e33c0013549fb1b9"
VITE_APPWRITE_TABLE_ID = "68e9e403003b436b72ec"
VITE_APPWRITE_BUCKET_ID = "68ea6b95000df07ff128"